/*
Some pointers as to how/why I chose certain measuremnts:
  > rem - most commonly used measurement, takes the size of the root element (<html/>) and bases sizing off of that, 
   allows for consistency throughout elements

  > em - measures based on the size of the parent elements, this is used in elements that I want to grow in 
   proportion to their parent element, allows for responsiveness

  > vw/vh - view with/ viewheight, used this measurements on elementa that i want to grow/shrink with page size,
   allows for responsivenness

  > px - used very sparingly, this is for fixed values that im 99% sure wont need to be changed
*/

@font-face {
  font-family: 'Excon';
  src: url('./fonts/Excon-Variable.ttf');
  font-weight: 340;
}

@font-face {
  font-family: 'Ranade';
  src: url('./fonts/Ranade-Variable.ttf');
}

:root {
  /*Highest level, where global variables live*/
  --color-background: #262c40;
  --color-background-lighter: #2F354C;
  --color-primary: #4E4092;

  --shadow: #171b26;

  --color-accent-1: #F9C80E;
  --color-accent-2: #708D81;

  --primary-font: 'Ranade';
  --secondary-font: 'Excon';
}

.app-container {
  background-color: var(--color-background);
  padding-top: 1vh;
  padding-bottom: .9vh;
}

body, html {
  color: white;

  padding: 0;
  margin: 0;

  overscroll-behavior: none;
  overflow-x: hidden;

  width: 100vw;/*needed for sticky header to work*/
  height: 100vh;/*needed for sticky header to work*/
}